body {
  background-color: #f5f5f5;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #333;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin: 20px 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

button {
  background-color: #ffac33;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}

input[type="text"],
input[type="date"],
input[type="datetime-local"],
select {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 5px;
}

ul#taskList {
  list-style: none;
  padding: 0;
  margin: auto;
}

li.taskItem {
  background-color: #ffac33;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  /* display: flex;
  flex-direction: column; */
  /* text-align: center; */
  width: 500px;
  display: flex;
}

strong {
  color: #333;
}

input[type="checkbox"] {
  margin: 5px;
}

input[type="checkbox"] + strong {
  color: #ffac33;
}
.addSubtaskSection{
  display: none;
}

.subTaskList{
  /* border: 1px solid black; */
}

.subTaskItem{
  display: flex;
  justify-content: space-between;
}

.hidden{
  display: none;
}

input.editSubtask{
  width: 300px;
  background-color: white !important;
}